.big-com-section {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 57px;
    justify-content: center;
    align-items: center;
}
.big-com-section__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    align-items: center;
}
.big-com-section__text-container__title {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    width: 400px;
    text-align: center;
    width: 500px;
}
.big-com-section__text-container__subtitle {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    width: 550px;
    text-align: center;
    align-self: center;
    justify-self: center;
}
.big-com-section__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.big-com-section__card-container__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 315px;
    padding-top: 31px;
    padding-bottom: 29px;
}
.big-com-section__card-container__card:last-of-type {
    box-shadow: 0 0 5px #464547;
    border-radius: 8px;
}
.big-com-section__card-container__card__img {
    width: 150px;
    height: 150px;
}
.big-com-section__card-container__card__des {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 264px;
    height: 75px;
    text-align: center;
}
.big-com-section__card-container__card__name {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17.5px;
    text-align: center;
}
.big-com-section__card-container__card__pos {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 116px;
    text-align: center;
    height: 30px;
}

.b-sec {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.user-link {
    color: inherit; /* Set color to inherit from parent element */
  text-decoration: none; /* Remove underline */
  cursor: pointer;
}


.toggle-button {
    position: relative;
    top: -100px;
    left: 440px;
    width: 100px;
    height: 40px;
    color: red;
    border-color: red;
    border-width: 1px;
  }