.join-program-section {
    height: 436px;
    width: 100%;
    background: url("./photo.png");
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join-program-section__layer {
    background: rgba(5, 17, 18, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 49px;
}
.join-program-section__layer--title {
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.join-program-section__layer--subtitle {
    color: rgba(255, 255, 255, 0.7);
    max-width: 350px;
    text-align: center;
}
.join-program-section__layer__email-form {
    display: flex;
    flex-direction: row;
    gap: 29px;
}
.join-program-section__layer__email-form__email-input {
    margin: 0;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    min-width: 400px;
    padding-left: 20px;
    border: 0;
}
.join-program-section__layer__email-form__email-input::placeholder {
    color: white;
}
.join-program-section__layer__email-form__button--subscribe {
    width: 111px;
    height: 36px;
    border-radius: 18px;
    letter-spacing: 0.002rem;
    padding: 0;
    border: 0;
    color: white;
    background-color: #55C2D8;
}

.disable {
    opacity: 0.5;
}
