.back {
    background-color: rgb(220, 219, 219);
    margin: 40px;
}

.cont {
    margin-top: 20px;
    width: 100%;
    padding: 30px;

}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.5px;
    color: black;
}

.des-nf {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
}

.back-to {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    color: #55C2D8
}