.us {
    display: flex;
    justify-content: center;
}

.user-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 315px;
    padding-top: 31px;
    padding-bottom: 29px;
}

img {
    width: 150px;
    height: 150px;
}

.des {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 264px;
    height: 75px;
    text-align: center;
}

.name-cont {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17.5px;
    text-align: center;
}

.pos {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 116px;
    text-align: center;
    height: 30px;
}